body {
    font-family: 'Open Sans', Helvetica Neue, Sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #313131;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}
h1 {
    font-size: 3.75rem;
    line-height: 5rem;
    font-family: 'Cabin', Helvetica Neue, Sans-serif;
    font-weight: 400;
}
.jumbotron {
    background: linear-gradient(135deg, #039deb 0%, #005885 100%);
    margin-bottom: 0px;
}
.intro-section {
    color: #FFFFFF;
    margin-top: 130px;
}
.intro-section h5 {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-size: 18px;
}
.btn {
    padding: 8px 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
.btn-lg {
    padding: 18px 40px;
    letter-spacing: 1px;
    font-weight: 600;
}
.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
    background-color: #c62d1f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
}
.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
    color: #FFFFFF;
}
.myButton:active {
    position: relative;
    top: 1px;
    color: #FFFFFF;
}
.brands {
    background: #FFFFFF;
    border-bottom: 2px solid #dadfe3;
    padding: 15px 0;
}
.brands li {
    display: inline-block;
    margin: 0 25px;
    vertical-align: middle;
}
.content {
    background: #F7F8FA;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dadfe3;
}
.content-white {
    background: #FFF;
}
.content h2 {
    margin-bottom: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: 20px;
}
.divisor {
    height: 2px;
    width: 120px;
    display: block;
}
.divisor-line {
    margin: auto;
}
.colored-line {
    background: #008ed6;
}
.colored-text {
    color: #008ed6;
}
.colored-border {
    border-left: 1px solid rgba(0, 142, 214, 0.3);
    border-right: 1px solid rgba(0, 142, 214, 0.3);
}
.i-lg {
    font-size: 60px;
}
.thumbnail {
    padding: 20px;
    border-bottom: 3px solid #ddd;
    -webkit-transition: all ease 0.55s;
    transition: all ease 0.55s;
}
.thumbnail:hover {
    border-bottom: 3px solid #008ed6;
}
.stats {
    color: #FFFFFF;
    margin-top: 20px;
}
.footer {
    padding-top: 20px;
}
