html {
    position: relative;
    min-height: 100%;
}
body {
    /*    background: url("http://belleviewchristian.com/wp-content/uploads/2014/03/blue-wallpaper-background-texture-checkbox-1024x640.jpg");*/
    /*    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQIW2NkYGCQBOLnQAwGjDAG0QKSAD1rAR6LthyCAAAAAElFTkSuQmCC'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC') #000000;*/
    /*    font: normal 13px/1.5'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, Arial, sans-serif;*/
    letter-spacing: 0.03em;
}
th,
td,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    text-align: center;
    vertical-align: middle;
}
.separator {
    margin-bottom: 25px;
}
.btn-lg {
    padding: 18px 20px;
}
.navbar {
    font-size: 15px;
}
@media (max-width: 992px) {
    .navbar {
        font-size: 14px;
    }
    #menu-login>a {
        height: 52px;
    }
}
.navbar-default .navbar-nav>li>a.btn-danger:hover,
.navbar-default .navbar-nav>li>a.btn-danger:focus {
    color: #FFF;
    background-color: #e74c3c;
}
.form-horizontal {
    margin-right: 20px;
}
.colored {
    color: #3aaafe;
}
.carousel-indicators-holder {
    padding-left: 0;
    background: #12110f;
    color: #ad835a;
}
@media (min-width: 992px) {
    .carousel-indicators {
        position: inherit;
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-align: left;
        bottom: 0px;
        left: 0%;
        z-index: 1;
        width: 100%;
    }
}
.container .jumbotron {
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 0;
}
.ads .link {
    width: 100%;
    height: 59px;
    display: block;
    margin-top: 7px;
    padding-top: 18px;
    padding-left: 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.ads a.link:hover {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}
.ads .active {
    color: #FFF;
    background: none;
    border-bottom: 1px solid red;
}
@media (max-width: 1200px) {
    .ads .link {
        height: 47px;
        margin-top: 8px;
        padding-top: 12px;
    }
}
/* CONTENT */

.content {
    /*    margin-top: 3px;*/
    padding-top: 30px;
    padding-bottom: 20px;
}
/* SIDEBAR */

@media (max-width: 992px) {
    .sidebar {
        margin-top: 100px;
    }
}
/* NEWS */

.news .btn_type {
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    width: 100%;
    background: #e4e4e4;
    padding: 12px 0 0 15px;
}
.news .active {
    background: #303a45;
    color: #FFF;
}
@media (min-width: 1200px) {
    .news .img-thumbnail {
        height: 155px;
    }
}
.news .read-more {
    text-align: right;
}
.news a:hover {
    text-decoration: none;
}
/* JUMBOCRUN */

.container .skybar {
    height: 100px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.skybar .text-bottom {
    padding-top: 40px;
}
/* IMAGE THUMBNAIL */

img.active {
    border: 1px solid #375a7f;
}
.thumbnail-dark {
    background: #000;
}
/* Table Guide */

.table-guide tr {
    border-bottom: 1px solid #464545;
}
/*
====================================
        MISC
====================================  */

.nopadding {
    padding: 0 !important;
}




/*
===============================================================================================  */
.box {
    display: block;
    height: 25px;
}
.blue255 {
       background-color: rgb(0,0,255);
}

.green255 {
       background: rgb(0,255,0);
}
